#rememberMe {
    visibility: visible;
    opacity: 1;
}

label.form-check-label {
    padding-left: 0;
}

div.forgot-password-wrapper {
    padding-bottom: 1rem;

    a {
        font-weight: normal;
    }
}
