<tr valign="top" th:fragment="footer">
    <td width="73%" style="
    color: #9B9B9B !important;
    font-size: 11px !important;
    line-height: 18px;
    padding-right: 2%;
">

        <table width="600" border="0" cellspacing="0" cellpadding="10" align="center"
               style="font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif; font-size:12px;line-height: 21px;">
            <tbody>
            <tr>
                <td align="center"
                    style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;vertical-align:top;font-size:12px;text-align:center;padding:20px 0"
                    valign="top">

                    <p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">
                        © OpenBanking Nigeria 4 Rock Drive, Lekki Phase 1 Lagos, Nigeria </p>
                    <p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">
                        <a href="https://openbanking.ng/blog/"
                           style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px"
                           target="_blank"
                           data-saferedirecturl="https://openbanking.ng/blog/">Blog</a>

                        <a href="https://github.com/openbankingnigeria"
                           style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px"
                           target="_blank"
                           data-saferedirecturl="https://github.com/openbankingnigeria">GitHub</a>

                        <a href="https://twitter.com/openbanking_ng"
                           style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px"
                           target="_blank"
                           data-saferedirecturl="https://twitter.com/openbanking_ng">Twitter</a>

                        <a href="https://www.facebook.com/openbankingnigeria"
                           style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px"
                           target="_blank"
                           data-saferedirecturl="https://www.facebook.com/openbankingnigeria">Facebook</a>
                        <a href="https://www.linkedin.com/company/openbankingnigeria"
                           style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px"
                           target="_blank"
                           data-saferedirecturl="https://www.linkedin.com/company/openbankingnigeria">LinkedIn</a>
                    </p>

                </td>

            </tr>
            </tbody>
        </table>
    </td>


    <td align="left" style="
    padding-left: 3%;
    width: 28%;
">

    </td>
</tr>

<tr>


