<div class="container">
    <div class=" row" >
            <div class="main col-md-7">
                <div class="main form-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-md-12">

                            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                                <h2 id="jhi-api-project-heading" jhiTranslate="apicockpitApp.apiProject.home.createOrEditLabel">New Project</h2>

                                <div>
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="form-group" hidden>
                                        <label for="id" jhiTranslate="global.field.id">ID</label>
                                        <input type="text" class="form-control" id="id" name="id"
                                               [(ngModel)]="apiProject.id" readonly />
                                    </div>

                                    <mat-form-field>
                                        <input  matInput type="text"  name="name" id="name"
                                                [(ngModel)]="apiProject.name" required  #name="ngModel" placeholder="{{'apicockpitApp.apiProject.name' | translate}}">
                                        <mat-error *ngIf="name.hasError('required')"> Project name required.</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput name="description" id="description"
                                                  [(ngModel)]="apiProject.description" #description="ngModel" placeholder="{{'apicockpitApp.apiProject.description' | translate}}"></textarea>
                                    </mat-form-field>
                                    <ng-container *ngIf="apiProject.id !=null">
                                        <mat-slide-toggle name="active" checked class="mb-3" [(ngModel)]="apiProject.active">Active</mat-slide-toggle>
                                    </ng-container>
                                    <div class="form-group">
                                        <label jhiTranslate="apicockpitApp.apiProject.api" for="apis">Selected Api</label>
                                        <div class="row">
                                            <div class="col-12">
                                                <ng-select
                                                    name="apis"
                                                    required
                                                    ngDefaultControl
                                                    [items]="apiprojectservices"
                                                    [multiple]="true"
                                                    [closeOnSelect]="false"
                                                    [searchable]="false"
                                                    [groupBy]="groupBy"
                                                    [groupValue]="groupByValueFn"
                                                    [selectableGroup]="false"
                                                    [selectableGroupAsModel]="false"
                                                    [hideSelected]="true"
                                                    bindLabel="name"
                                                    placeholder="Select Api"
                                                    [(ngModel)]="apiProject.apis">
                                                    <ng-template ng-optgroup-tmp let-item="item">
                                                        <span style="vertical-align: middle;">{{item.name}}</span>
                                                        <span class="ml-2 badge badge-secondary ">{{item.length}}</span>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>

                                    </div>

                                    <mat-form-field *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                        <mat-select placeholder="{{'apicockpitApp.apiProject.owner' | translate}}" name="owner" ngModel #owner="ngModel" required>
                                            <mat-option *ngFor="let apiConsumerProfileOption of apiconsumerprofiles; trackBy: trackApiConsumerProfileById" [value]="apiConsumerProfileOption">
                                                {{apiConsumerProfileOption.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-raised-button color="default" (click)="previousState()">{{'entity.action.cancel' | translate}}</button>
                                    <button mat-raised-button color="primary" [disabled]="editForm.form.invalid || isSaving">{{'entity.action.save' | translate}}</button>
                                </div>
                            </form>

                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" *ngIf="apiProject.id">

                <mat-card class="api-card">
                    <mat-card-content>
                        <h5 class="form-control-label" jhiTranslate="apicockpitApp.apiProject.apiKey" for="field_active">Client Id</h5>
                        <label class="form-control-label">{{apikeys[0].clientId}}</label>
                        <br/>
                        <h5 class="form-control-label" jhiTranslate="apicockpitApp.apiProject.apiSecret" for="field_active">Client Secret</h5>
                        <label class="form-control-label">{{apikeys[0].clientSecret}}</label>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent"  (click)="resetApiKeys()">{{'apicockpitApp.apiProject.resetApikey' | translate}}</button>
                    </mat-card-actions>
                </mat-card>

            </div>
    </div>
</div>

