<div class="content">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning"><i class="nc-icon nc-globe text-warning"></i></div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">API Functions Subscribed</p>
                                <p class="card-title">{{ subscribedServices?.count }}</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr />
                    <div class="d-flex justify-content-start">
                        <a [routerLink]="['#']" class="stats"> <i class="fa fa-eye"></i> View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning"><i class="nc-icon nc-share-66"></i></div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total Number of API Calls</p>
                                <p class="card-title">{{ totalApiCalls?.count }}</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr />
                    <div class="d-flex justify-content-between">
                        <a [routerLink]="['#']" class="stats"> <i class="fa fa-refresh"></i> Update Now</a>
                        <a [routerLink]="['#']" class="stats"> <i class="fa fa-clock-o"></i> View Logs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning"><i class="nc-icon nc-vector text-danger"></i></div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Errors</p>
                                <p class="card-title">{{ totalApiErrorCalls?.count }}</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr />
                    <div class="d-flex justify-content-between">
                        <a [routerLink]="['#']" class="stats"> <i class="fa fa-refresh"></i> Update Now</a>
                        <a [routerLink]="['#']" class="stats"> <i class="fa fa-clock-o"></i> View Logs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header "><h5 class="card-title">Subscribed API VS API Calls</h5></div>
                <div class="card-body ">
                    <div style="display: block">
                        <canvas
                            baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                        ></canvas>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr />
                    <div class="stats"><i class="fa fa-refresh"></i> Updated 3 minutes ago</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card card-chart">
                <div class="card-header"><h5 class="card-title">Error Count VS API Calls</h5></div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card user-activity">
                <div class="card-header "><h5 class="card-title m-0">User Activity</h5></div>
                <div class="card-body ">
                    <div class="activity-container d-flex border-bottom mb-3" *ngFor="let user of userActivities">
                        <div class="activity-img-container">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="img-thumb" />
                        </div>
                        <div class="activity pl-2">
                            <h6 class="text-capitalize">{{ user.principal }}</h6>
                            <p class="mb-1 text-capitalize">{{ user.type }}</p>
                            <p class="mb-2"><i class="fa fa-clock-o"></i> {{ user.timestamp | timeAgo }}</p>
                        </div>
                    </div>
                    <div class="card-footer pb-0 text-center "><a [routerLink]="['#']" class="stats">View All Activities</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
