<div class="main col-md-8" *ngIf="!success">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="main registration-form-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h1 jhiTranslate="register.title">Registration</h1>

                            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                                <strong>Registration failed!</strong> Please try again later.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                                <strong>Login name already registered!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                                <strong>Email is already in use!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                The password and its confirmation do not match!
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                                <div >
                                    <mat-form-field>
                                    <input matInput type="email"  id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                                           [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                                    </mat-form-field>
                                    <div *ngIf="email.dirty && email.invalid">
                                        <small class="form-text text-danger" *ngIf="email.errors.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div >
                                        <mat-form-field>
                                            <input matInput id="password" name="password" #password="ngModel"  [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required  placeholder="{{'global.form.newpassword.placeholder' | translate}}"  [type]="hide ? 'password' : 'text'">
                                            <mat-icon class="password-eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </mat-form-field>
                                    <div *ngIf="password.dirty && password.invalid">
                                        <small class="form-text text-danger" *ngIf="password.errors.required"
                                               jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                                               jhiTranslate="global.messages.validate.newpassword.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>

                                <mat-form-field>
                                    <input  matInput type="text"  id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" placeholder="{{'global.form.phoneNumber.placeholder' | translate}}"
                                           [(ngModel)]="registerAccount.phoneNumber" minlength=10 maxlength=15 required>
                                </mat-form-field>

                                <mat-form-field>
                                     <input matInput type="text"  id="company" name="company" #company="ngModel" placeholder="{{'global.form.company.placeholder' | translate}}"
                                       [(ngModel)]="registerAccount.company">
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-select placeholder="What are you building ?" name="typeOfProject" ngModel #typeOfProject="ngModel">
                                        <mat-option *ngFor="let project of ['Personal finances', 'Consumer Payments','Lending','Banking','Business financial management','Other']" [value]="project">
                                            {{project}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-checkbox name="termsAndConditions" checked ngModel required>
                                    <span class="terms-use">I agree to Open Banking Nigeria's <a routerLink="/toc">Terms of Use</a> and consent to <br/> Open Banking Nigeria's <a routerLink="/privacy">Privacy Statement.</a></span>
                                </mat-checkbox>



                                <div class="form-group mt-4" *ngIf="captchaEnabled">
                                    <div class="g-recaptcha" [attr.data-sitekey]="gCaptchaKey"></div>
                                    <div *ngIf="captchaError"  class="error">Recaptcha not verified.</div>
                                </div>

                                <button mat-raised-button color="primary" [disabled]="registerForm.form.invalid">Register</button>
                            </form>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="create-account-info-wrapper">
                    <h5 class="checklist-title">By creating a free account, you can:</h5>
                    <ul class="checklist">
                        <li class="checklist-item">Access our bank data APIs, which include bank account info and transaction data</li>
                        <li class="checklist-item">Use sample data to try out our APIs in our sandbox environment</li>
                    </ul>
                    <p>Have questions? <a href="https://openbanking.ng">Contact Open Banking Nigeria</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<swal
    #successModal
    title="Registration Successful"
    text="You have unsaved changes. Leaving this page means losing those changes. Do you want to continue?"
    type="success"
    confirmButtonText="Login"
    html='<h2>Verify your email</h2><p>Please visit the verification link sent to <strong>{{registerAccount.email}}</strong></p><p>Didn’t receive an email? <a href="#">Click here to resend it</a></p>'
    (confirm)="redirectToHome()"
    (cancel)="redirectToHome()"
    (close)="redirectToHome()">
    ></swal>
