<div>
    <div class="row justify-content-center">
        <div class="col-md-4 py-2" style="background: #ffffffd6">
            <h1 jhiTranslate="reset.finish.title">Reset password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p jhiTranslate="reset.finish.messages.info">Choose a new password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p jhiTranslate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
						 <div>
								<mat-form-field floatLabel="true">
									<input  matInput type="text"  id="password" name="password" #passwordInput="ngModel"   placeholder="{{'global.form.newpassword.placeholder' | translate}}"
									[(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
									<mat-error *ngIf="passwordInput.hasError('required')"> Your password is required.</mat-error>
									<mat-error *ngIf="passwordInput.hasError('minlength')">  Your password is required to be at least 4 characters.</mat-error>
									<mat-error *ngIf="passwordInput.hasError('maxlength')"> Your password cannot be longer than 50 characters..</mat-error>
								</mat-form-field> 
								<jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
						 </div>

						 <div>
								<mat-form-field>
									<input  matInput type="text"  id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
									[(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
									<mat-error *ngIf="passwordInput.hasError('required')">  Your password confirmation is required.</mat-error>
									<mat-error *ngIf="passwordInput.hasError('minlength')"> Your password confirmation is required to be at least 4 characters.</mat-error>
									<mat-error *ngIf="passwordInput.hasError('maxlength')">  Your password confirmation cannot be longer than 50 characters.</mat-error>
								</mat-form-field> 
						 </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" jhiTranslate="reset.finish.form.button">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
