<div class="container">
    <div class=" row" >
        <div class="main col-md-8">
            <div class="main form-wrapper">
                <h2 jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for [<b>{{account.login}}</b>]</h2>
                <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>
                <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
                    <mat-form-field>
                        <input  matInput type="password"  name="currentPassword" id="currentPassword"
                                [(ngModel)]="currentPassword" required  #currentPasswordInput="ngModel"
                                placeholder="{{'global.form.currentpassword.placeholder' | translate}}">
                        <mat-error *ngIf="currentPasswordInput.hasError('required')">{{'global.messages.validate.newpassword.required' | translate}}</mat-error>
                        <mat-error *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">{{'global.messages.validate.newpassword.required' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput id="newPassword" name="newPassword" #newPasswordInput="ngModel"  [(ngModel)]="newPassword" minlength=4 maxlength=50 required  placeholder="{{'global.form.newpassword.placeholder' | translate}}"  [type]="hide ? 'password' : 'text'">
                        <mat-icon class="password-eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="newPasswordInput.hasError('required')" > Your password is required.</mat-error>
                        <mat-error *ngIf="newPasswordInput.hasError('minlength')">   Your password is required to be at least 4 characters.</mat-error>
                    </mat-form-field>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                    <button mat-raised-button color="primary" [disabled]="passwordForm.form.invalid">{{'password.form.button' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
